/* root & all tags */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: "Vazir";
}
:root{
    --yellow: #f7ba11;
    --blue: #1e23bf;
    --gray: #6c757d;
    --red: #ff0000;
}
/* fonts */
@font-face {
    font-family: "Vazir";
    src: url("font/Vazir.eot?#") format("eot"), url("font/Vazir.woff") format("woff"), url("font/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

/* main tags */
body{
    background-image: url(img/background\ \(2\).jpg);
}
label{
    color: var(--gray);
}
form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
    margin-bottom: 15px;
}

fieldset{
    height: 180px;
    padding: 3%;
    width: 100%;
    text-align: right;
    direction: rtl;
    display: flex;
    position: relative;
    border-radius: 7px;
    border-color: var(--blue);
}

fieldset legend{
    padding: 0 5px;
    /* color: var(--gray); */
}
fieldset div{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}




select {
	width: 100%;
	text-align: right;
	direction: rtl;
	height: 25px;
	background: #fff;
	border: 1px solid var(--gray);
	color: var(--gray);
	cursor: pointer;
    font-size: 10pt;
    margin: 0;
    z-index: 1;
    height: 32px;
    border-radius: 5px;
    outline: none;
}
select:focus{
    border: 2px solid var(--blue);
}

button,
.active-button{
    width: 80px;
    height: 47px;
    border-radius: 4px;
    background: var(--yellow);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 1%;
}
button[type='reset']{
    background-color: #fff;
    border: 1px solid var(--blue);
    color: var(--blue);
}
button[type='reset']:hover{
    border: 2px solid var(--blue);
    color: var(--yellow);
}
button:hover,
.active-button:hover{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0px 3px 7px var(--gray);
    color:var(--blue);
}

/* main form styles */

.form-title{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 48PX 44%;
    background-color: var(--blue);
}
.register-form{
    background: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
    padding: 50px;
    margin: 0 20%;
    box-shadow: 0 4px 3px 3px #ddd;
    /* border-left: 2px solid var(--yellow); */
}
/* select group styles */
.select-group{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.select-group:nth-child(1){
    position: relative;
}
/* branch & hour-unit count styles */
.count-of-hour-unit{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.branch{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* internship select styles */
.learningWork{
    position: relative;
    top: 10;
}
.learning-work-label{
    position: absolute;
    right: 5;
    font-size: 12;
    pointer-events: none;
    z-index: 1;
}
/* grade styles */
.peyvaste,
.napeyvaste,
.radio,
.karshenasi-napeyvaste,
.kardani-peyvaste,
.kardani-napeyvaste{
    visibility: hidden;
}
.karshenasi,
.kardani{
    visibility: hidden;
}

.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
.radio-span{
    width: 100%;
    display: flex;
    padding-right: 10%;
}
.grade{
    display: flex;
    align-items: center;
    position: absolute;
    width: 20%;
    justify-content: center;
    top: 27px;
    left: 40%;
    outline: none;
    border: none;
    pointer-events: none;
}
.grade-div{
    display: flex;
    flex-direction: column;
    position: relative; 

}
.grade-div .accounting-span,
.grade-div .electricity{
    position: absolute;
    top: 10px;
}
/* text inputs designs */
.input-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.text-input{
    width: 100%;
    height: 32px;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--gray);
    padding: 0 8px;
    text-align: right;
}
.min-input{
    width: 99%;
}
.input-box{
    position: relative;
}

.input-label{
    position: absolute;
    margin-right: 10px;
    font-size: .8em;
    transform: translateY(0);
    transition: .3s;
    cursor: text;
    pointer-events: none;
}

.input-label:focus ~ .text-input{
    border: 2px solid var(--blue);
}
.min-input:focus ~ .input-label,
.input-label:focus,
.text-input:focus ~ .input-label,
.text-input:valid ~ .input-label{
    color: var(--gray);
    transform: translateY(-18px);
    font-size: .65em;
    padding: 0 5px;
    background: #fff;
    border-left: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
}
.text-input:valid,
.text-input:focus,
.text-input:invalid{
    border: 2px solid var(--blue);
}
/* labels */
.label{
    /* transform: translateY(-15px); */
    /* background: #fff; */
    padding: 0 3px;
}
#unitLabel,
#hourLabel,
#year{
    transform: translateY(-19px);
    background: #fff;
    font-size: .63em;
    padding: 0 3px;
    z-index: 2;
}
/* radio button styles */
input[type="radio"]{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    margin: 0 7px;
    font:inherit;
    width: 20px;
    height: 20px;
    border: 0.15em solid var(--gray);
    border-radius: 50%;
    transform: translateY(-0.075em);
}
input[type="radio"]::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--yellow);
}
input[type="radio"]:checked::before{
    transform: scale(1);
}
.radio-span label{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
    font-size: 12pt;
}
/* internship place type */
/* checkbox */
 form > div:nth-child(10) > span > label,
 input[type="checkbox"]{
    cursor: pointer;
 }
/* two divs for internships */
form > div:nth-child(8),
form > div:nth-child(10){
    padding: 5px 5%;
    border: 2px solid var(--blue);
    border-radius: 6px;
    width: 100%;
    position: relative;
 }
 /* spaces for radio buttons in internship */
 .input-form .radio-span{
    padding-right: 3%;
 }
 /* internship type label */
 body > form > div:nth-child(8) > span > label{
    right: 20;
 }
 /* responsive internship radio buttons */ 
 body > form > div:nth-child(8) > span{
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    gap: 10px;
 }
 /* alignment of clear and create form buttons */
 body > form > div:nth-child(13){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 /* internship select element */
 #Lw{
    opacity: 50%;
    cursor: no-drop;
 }
 /* validation failed */
 .failed{
    border: 2px solid var(--red);
    color: var(--red);
 }

 /* captcha styles */
 body > form > div:nth-child(13) > div{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 5px;
 }
 body > form > div:nth-child(13) > div:nth-child(1) > div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
 }
 /* styling captcha image */
 #image{
    width: 54%;
    display: flex;
    align-items: center;
    padding: 2px;
    background: var(--yellow);
    font-weight: 400;
    user-select: none;
    text-decoration: line-through;
    font-style: italic;
    font-size: larger;
    color: var(--blue);
 }
/* check captcha  */
.check-captcha{
    width: 41%;
    background-color: var(--blue);
    color: var(--yellow);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10pt;
    height: 33px;
}
 /* generate button */
 .generateForm{
    opacity: 60%;
    cursor: no-drop;
 }
 .generateForm:hover{
    transform: translateY(0);
    box-shadow: none;
    color: #fff;
 }

/* media queries */
@media (max-width: 700px) {
    .form-title{
        padding: 10% 40%;
    }
    .register-form{
        margin: 0;
        width: 100%;
    }
    
    .count-of-hour-unit{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    label{
        font-size: 10pt;
    }
    fieldset{
        padding: 15px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    select{
        width: 100%;
        font-size: 10;
    }
    .grade{
        top: 45%;
        left: -37%;
        width: 100%;
        background: transparent;
    }
    .grade-div{
        display: flex;
        flex-direction: row;
    }
    .kardani-napeyvaste{
        margin: 3% 0 0 50%;
    }
    .radio-span label{
        width: 100%;
        display: flex;
        justify-content: center;
        /* font-size: 10pt; */
    }
    input[type="radio"]{
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }
    input[type="radio"]::before{
        width: 7px;
        height: 7px;
    }
    .input-label{
        font-size: .7em;
    }
}
@media (max-width: 420px){
    button{
        margin-right: 3%;
    }
    select{
        width: 100%;
    }
    .place{
        transform: translateY(-76px);
    }
    div.form-title{
        padding: 10% 33%;
    }
    .register-form{
        margin: 0;
        width: 100%;
        padding: 20PX;
    }
    .select-group{
        display: flex;
        flex-direction: column-reverse;
    }
    .select-group fieldset{
        width: 100%;
        height: 100%;
        padding: 10px 15px;
    }
    .input-label fieldset{
        margin-right: 1px;
    }
    .input-label{
        margin-right: 5px;
    }
    .text-input:focus ~ .input-label,
    .text-input:valid ~ .input-label{
        font-size: .5em;
        padding: 0 3px;
    }
    .kardani-napeyvaste{
        margin: 5% 0 0 50%;
    }
    fieldset label{
        font-size: 12pt;

    }
    .tel{
        font-size: 6pt;
    }
    #image{
        width: 100%;
    }
} 