@import url('../style.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* variables */
/* fonts */
@font-face {
  font-family: "Vazir";
  src: url("../font/Vazir.eot?#") format("eot"), url("../font/Vazir.woff") format("woff"), url("../font/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
    padding: 50px 7%;
    font-family: "Vazir";
    direction: rtl;
    background: none;
}
.head{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body{
    padding: 5px;
    border: 1px solid;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
strong{
    margin: 0 10px;
}
.head p{
    font-size: 10pt;
}
.head .date{
    font-size: 9pt;
}
.body h5{
    padding: 8px 0;
}
input{
    width: 100px;
}
.tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 70px 50%;
    direction: ltr;
}
button{
    margin: -9% 10%;
    color: var(--blue);
}
div > p{
    text-align: justify;
    padding: 0 15px;
}
@media print {
    button{ display: none; }
}